.easy-window {}

.easy-window-blog {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
    background: var(--reportBg);
    border: 1px solid #f1f2f4;
    padding: 1.4rem 1.4rem;
    border-radius: 2px;
}

.easy-window-blog:hover {
    transform: scale(1.02);
    transition: all .4s ease-in-out;
    background-color: var(--navbarBg);
    border: 1px solid #f1f2f4;
}

.easy-window-blog:hover span {
    /* transform: rotate(180deg); */
    /* cursor: pointer; */
    font-size: 17px;
}

.easy-window-pos-abs {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
}

.easy-window-title {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.8;
}