.open-register-title {
    margin: 20px 0 30px;
    font-size: 24px;
    color: var(--headerColor);
    font-style: normal;
    font-weight: 700;
    line-height: 2.6rem;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .open-register-title-flex {
        display: block;
    }
    .open-register-title{
        font-size: 18px;
        line-height: 1.6;
    }

}