.contact-form label {
    margin: 10px 0;
    color: var(--videoColor);
    font-size: 14px;
}

.contact-form .form-select {
    font-size: 13px;
    font-weight: 500;
    padding: 10px;
}

.contact-form option {
    font-size: 13px;
}

.contact-form table thead tr th {
    font-weight: 600;
}

.contact-form table tbody tr th {
    font-weight: normal;
}

.contact-form table {
    margin: 30px 0;
    font-size: 12px;
}

.contact .left-blog {
    margin: 40px 0;
}

@media screen and (max-width: 1200px) {
    .contact-form {
        overflow-x: auto !important;
    }
}